<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kommentarregeln</title>
  </head>
  <body>
    <h1> Kommentarregeln </h1>
    <ol>
        <li>Sei freundlich und respektvoll. Diejenigen, die hier etwas hochladen, arbeiten in ihrer Freizeit an den Projekten und stecken viel Arbeit hinein – behalte das beim Verfassen deiner Kommentare im Hinterkopf. Auch in Diskussionen unter den Projekten solltest du auf einen freundlichen Umgangston achten.</li>
        <li>Formuliere Kritik konstruktiv. Wenn in dem Projekt Fehler sind oder du etwas anders machen würdest, sage nicht nur, was du schlecht findest, sondern mach auch Lösungs- oder Verbesserungsvorschläge.</li>
        <li>Akzeptiere andere Meinungen. Nicht jeder Ersteller wird sein Projekt ändern wollen und nicht alle anderen Community-Mitglieder werden dir immer zustimmen. Angeregte Diskussionen sind natürlich gern gesehen, aber bedenke, dass das Ziel der Austausch ist und nicht, alle anderen von deiner persönlichen Meinung zu überzeugen.</li>
        <li>Melde Kommentare, die gegen die Regeln verstoßen. Wenn du siehst, dass jemand andere beleidigt oder unfreundlich ist, informiere uns, damit wir möglichst schnell eingreifen können.</li>
    </ol>
  </body>
</html>