
.youthversity-faq-title {
  color: black;
  font-weight: bold;
}

.youthversity-faq-answer {
  margin-bottom: 15px
}

.post-overview-all {
  background-color: #93c0c3;
  margin: 0.5em;
  padding: 0.5em;
  color: black;
  word-wrap: normal;
}

.post-overview-title{
  text-align: center;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #black;
}

.post-overview-author-name {
  color: #444;
  text-align: right;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.post-overview-subject {
  float: right;
  height: 1.75em;
  display: inline-block;
  text-decoration: none;
  color: #black;
}

.post-overview-upvotes {
  width: 49%;
  display: inline-block;
  text-decoration: none;
  color: #black;
}

.youthversity-faq-answer {
  margin: 0.5em;
  padding: 0.5em;

}

.youthversity-comment-box-single {
  background-color: #EEF5EE;
  margin: 2px;
  padding: 2px;
}

.youthversity-comment-content {
  margin: 10px;
}

.youthversity-comment-date {
    width: 49%;
    display: inline-block;
    text-align: right;
}


.youthversity-comment-author {
    width: 49%;
    display: inline-block;
}

.youthversity-comment-report {
  text-decoration: none;
  color: #aaa;
  width: 100%;
  display: inline-block;
  text-align: right;
  font-size: x-small;
}

.youthversity-upvote-box {
  float: right;
}

.youthversity-footer {
  font-size: x-small;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 10px;
}

.youthversity-footer a {
  color: #aaa;
  margin: 20px 3px;

}
