{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <h1>About us</h1>
    <!-- <h2>Seems, there is something missing?</h2> -->
</div>

<div class="content">
    <h3>Vor welchem Hintergrund entstand die Idee zu dem Projekt?</h3>

    <center>
    <img class="pure-img" width="50%" src="{% static "wirvsvirus_logo.png" %}" ></center>

    <div><p>Die Idee zu einer Website für den Austausch von Lernmaterialien kam im Zuge des von der Bundesregierung im Rahmen der Sars-Cov-2 Pandemie ausgerichteten Hackathons "WirvsVirus". Da aufgrund der Pandemie in Deutschland und auch in einigen anderen europäischen Ländern gerade die Schulen geschlossen sind, wollten wir im Rahmen des Hackathons eine Plattform schaffen, auf der sich interessierte Schüler_innen austauschen können und auch während des Schulausfalls Möglichkeiten haben, sich weiterzubilden - selbst wenn von schulischer Seite keine Infrastruktur zur Verfügung steht.</p></div>
    <h3>Wer sind wir?</h3>
    <div><p>Wir sind eine gemischte Gruppe interessierter junger Menschen, bestehend aus Schüler_innen, Studenten und Informatikern aus Deutschland, die gerne an Projekten arbeiten und unsere Zeit sowie unsere Kenntnisse nutzen wollen, um Lösungen für Probleme, die aus der Corona-Pandemie entstanden sind, zu finden.</p></div>
<div>
{% endblock %}
