{% extends 'base.html' %}
{% block content %}
<div class="header">
  <h1>Meine Kommentare</h1>
</div>

<div class="content">
  <div class="pure-g">
    {% for comment in Comments %}
    <div class="pure-u-1 pure-u-md-1-2">
      <a href="{% url 'projects_id' comment.get_parent_post.id %}" class="youthversity-comments-text ">
        <div class="youthversity-comment-box-single">
          <label class="youthversity-comment-author">{{ comment.parent.title }} </label>
          <label class="youthversity-comment-date">{{ comment.created }} </label><br>
          <div class="youthversity-comment-content">{{ comment.content }} </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}