{% extends 'base.html' %}
{% block content %}
<div class="header">
    <h1>FAQ</h1>
    <h2>Was ist das hier überhaupt?</h2>
</div>

<div class="content">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Kann ich meine Hausaufgaben hier abschreiben?
      </label>
      <div class="youthversity-faq-answer">
        Lorem ipsum dolor sit amet.
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Welche Dateiformate kann ich verwenden?
      </label>
      <div class="youthversity-faq-answer">
        Lorem ipsum dolor sit amet.
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Was darf ich in einem Projekt an Material verwenden?
      </label>
      <div class="youthversity-faq-answer">
        Lorem ipsum dolor sit amet.
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Muss ich Quellen angeben und welche Formalien muss ich dabei beachten?
      </label>
      <div class="youthversity-faq-answer">
        Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>

</div>

{% endblock %}
