{% extends 'base.html' %}
{% block content %}
<div class="header">
    <h1>FAQ</h1>
    <h2>Was ist das hier überhaupt?</h2>
</div>

<div class="content">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Kann ich meine Hausaufgaben hier abschreiben?
      </label>
      <div class="youthversity-faq-answer">
        Nein. Die Inhalte wurden zu Lernzwecken erstellt und dürfen im Rahmen der Lizenz dafür verwendet werden, dürfen allerdings nicht für Hausaufgaben oder Prüfungsleistungen abgeschrieben werden. Bitte beachte, dass dies auch zu Plagiatsvorwürfen führen kann, die rechtliche Folgen für dich haben.
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Welche Dateiformate kann ich verwenden?
      </label>
      <div class="youthversity-faq-answer">
        Aktuell kannst du in deinen Projekten Text direkt in unserem Online-Editor schreiben oder Bilder als .jpg oder .png inkludieren.
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Was darf ich in einem Projekt an Material verwenden?
      </label>
      <div class="youthversity-faq-answer">
          Du darfst in deinem Projekt prinzipiell jedes Material verwenden, das in einem von uns unterstützten Dateiformat oder als Text vorliegt. Welche Dateiformate unterstützt werden, findest du ebenfalls in diesem FAQ. Bitte beachte dabei aber das Urheberrecht, zu dem wir <a href="{% url 'copyright' %}">hier</a> weitere Informationen zusammengetragen haben, sowie geltendes Recht in deinem Land.
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Muss ich Quellen angeben und welche Formalien muss ich dabei beachten?
      </label>
      <div class="youthversity-faq-answer">
        Damit andere Schüler sich bei wichtigen Aufgaben auf die Richtigkeit deiner Informationen verlassen können oder bei Interesse weiterführende Materialien haben, ist es wünschenswert, nicht jedoch verpflichtend,  dass du bei deinem Beitrag Quellen angibst. Beachte dabei allerdings, dass du bei der Verwendung urheberrechtlich geschützter Werken eine Quelle angeben musst. Weiterführende Informationen zu dem Thema haben wir <a href="{% url 'copyright' %}">hier</a> zusammengetragen.(+Link)
      </div>
    </div>
      <div class="pure-u-1 pure-u-sm-1-3">
      <label class="youthversity-faq-title">
        Sind die Inhalte auf der Plattform auf Richtigkeit geprüft?
      </label>
      <div class="youthversity-faq-answer">
          Nein. Bitte bedenke, dass hier Schüler die Gelegenheit haben, selbst erstellte Inhalte hochzuladen. Schüler wissen nicht über alles perfekt Bescheid und selbst wenn sie das wüssten, ist Irren immer noch menschlich. Sollte dir ein Fehler in einem Beitrag auffallen, kannst du gerne den Ersteller auf den Fehler hinweisen sodass dieser korrigiert werden kann und andere Schüler nicht auf die fehlerhafte Angabe vertrauen. Bitte bleibe dabei aber immer konstruktiv und freundlich. Weiterhin gelten dabei unsere <a href="{% url 'rules' %}">Kommentarregeln</a>.
      </div>
    </div>
  </div>

</div>

{% endblock %}
