{% extends 'base.html' %}


{% block content %}


<div class="header">
    <h1>Suche</h1>
    <h2>{{ query }}</h2>
</div>

<div class="content">

  <div class="content">

    <div class="pure-g">
      {% for post in posts %}
        <div class="post-overview-all pure-u-1 pure-u-md-1-3">
            <label class="post-overview-title"> {{ post.title }}</label><br>
            <label class="post-overview-author-name">von {{ post.author.name }} </label><br>

            <label class="post-overview-upvotes"> Upvotes: {{ post.upvotes.count }} </label>
            <label class="post-overview-subject"> {{ post.subject.name }} </label>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
