{% extends 'base.html' %}

{% block content %}
<div class="header">
  <h1>Sign up</h1>
</div>
<div class="content">
  <form method="post" class="pure-form pure-form-aligned">
    <fieldset>
      {% csrf_token %}
      {% for field in form %}
      <div class="pure-control-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <span class="pure-form-message-inline">{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
        <p class="youthversity-error-text">{{ error }}</p>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Sign up</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}