{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <h1>Topics</h1>
    <h2>What topics keep you awake at night?</h2>
</div>

<div class="content">


<div class="pure-g">
  {% for subject in subjects %}
    <div class="pure-u-1 pure-u-sm-1-3">
      <a href="{% url 'subtopics' subject.id %}" style="text-decoration: none; color:#aaa;">
        {% static "topics" as subject_base %}
        <center>
          <img src="{{ subject_base }}/{{ subject.name }}.png" width="75%" class="pure-img">
        </center>
        <center>{{ subject.name }}</center>
      </a>
    </div>
  {% endfor %}
</div>




</div>

{% endblock %}
